.container{
margin: 100px auto;
height: 850px;
}
.colour{
background:#709BFF;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.btn-default{
  background: #FF5A46;
  color:#FFF;
  border-color: #FF5A46;
}
.btn-default2{
  background:transparent;
  color:#FFF;
  border-color: transparent;
}
.btn-default3{
  background: #FF5A46;
  color:#FFF;
  border-color: #FF5A46;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}
